<div class="col-xs-12">
  <hr>
</div>

<div class="col-xs-12">
  <h4>
    Album
  </h4>
  <h5 class="col-xs-2">
    {{comment.album_id.name}}
  </h5>
</div>

<br /><br />

<div class="col-xs-12">
  <h4>
    Author
  </h4>
  <h5 class="col-xs-2" >
    {{comment.author}}
  </h5>
</div>

<br /><br />

<div class="col-xs-12">
  <h4>
    Comment Text
  </h4>
  <h5 >
    {{comment.message}}
  </h5>
</div>

<br /><br />

<div class="col-xs-12">
  <br />
  <hr>
  <br />
</div>

<h4>
  We could theoretically could add extra data about the comment for this route.
  An example would be information about the user who created that comment.
</h4>
