<h3 class="page-title">Comment Details</h3>
{{#link-to "comments"}}
  <h4 class="page-title">View All Comments</h4>
{{/link-to}}

<br /><br /><br />

{{comment-info-table
  comment=model}}

<br /><br /><br />

{{#link-to "comments"}}
  <h4 class="page-title">View All Comments</h4>
{{/link-to}}
