<h3 class="page-title">Comment Details</h3>
{{#link-to "comments"}}
  <h4 class="page-title">View All Comments</h4>
{{/link-to}}

<br /><br /><br />

<div class="page-content">
  {{comment-info-table
    comment=model}}
</div>

<br /><br /><br />

{{#link-to "comments"}}
  <h4 class="page-title">View All Comments</h4>
{{/link-to}}
