<h2 class="page-title">{{model.name}}</h2>
{{#link-to "cities"}}
  <h4 class="page-title">View All Cities</h4>
{{/link-to}}

<br /><br />
  <h3 class="page-title">City Details</h3>
<br />

<div class="col-xs-12">
  <div class="col-xs-6">
    {{city-info-table
      city=model}}
  </div>
  <br />
</div>

<br /><br /><br />

{{#link-to "cities"}}
  <h4 class="page-title">View All Cities</h4>
{{/link-to}}
