<h2 class="page-title">{{model.artist.name}}</h2>
{{#link-to "artists"}}
  <h4 class="page-title">View All Artists</h4>
{{/link-to}}

<br /><br />
  <h3 class="page-title">Discography</h3>
<br />

{{artist-info-table
  artist=model.artist
  albums=model.albums}}

<br /><br /><br />

{{#link-to "artists"}}
  <h4 class="page-title">View All Artists</h4>
{{/link-to}}
