<h2 class="page-title">{{model.name}}</h2>
{{#link-to "albums"}}
  <h4 class="page-title">View All Albums</h4>
{{/link-to}}

<br /><br />
  <h3 class="page-title">Album Comments</h3>
<br />

{{album-info-table
  album=model}}
