<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>{{#link-to "api/cities"}}Cities{{/link-to}}</li>
    <li>{{#link-to "api/artists"}}Artists{{/link-to}}</li>
    <li>{{#link-to "api/albums"}}Albums{{/link-to}}</li>
    <li>{{#link-to "api/comments"}}Comments{{/link-to}}</li>
  </ul>
</nav>

<h1 id="title">
  Media Catalog
</h1>

<br /><br /><br />

{{outlet}}
