<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>{{#link-to "index"}}Home{{/link-to}}</li>
    <li>{{#link-to "cities"}}Cities{{/link-to}}</li>
    <li>{{#link-to "artists"}}Artists{{/link-to}}</li>
    <li>{{#link-to "albums"}}Albums{{/link-to}}</li>
    <li>{{#link-to "comments"}}Comments{{/link-to}}</li>
  </ul>
</nav>

<br />
<h1 id="title">
  Media Catalog
</h1>

<br /><br /><br />

{{outlet}}
