

<div class="col-xs-5">
  <h2 class="page-title">Years</h2>

  <br /><br />

  {{year-list
    years=model.years}}
</div>

<div class="col-xs-2">
</div>

<div class="col-xs-5">
  <h2 class="page-title">Most Popular Artists</h2>

  <br /><br />

  {{popular-artists-list
    artists=model.artists}}
</div>
